page-login {
    ion-content {
        background-image: url('../../assets/img/fondoInicioAPP.png');
        background-size: 100% 100%;
    }
    img {
        width: 150px;
    }
    h3 {
        color: white
    }
    .top-50 {
        margin-top: 50%;
    }
    .top-15 {
        margin-top: 15%;
    }
    .sobre-esta-app {
        text-decoration: underline;
    }
}