page-home {
    .vertical-align-content>* {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }
    ion-content {
        background-image: url('../../assets/img/fondoInicio3.png');
        background-size: 100% 100%;
    }
    .logo {
        height: 31px;
        margin-top: 5px;
    }
}