page-confirmar-clase {
    .top-20 {
        margin-top: 35%;
    }
    .item-borderless {
        padding-left: 0;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px !important;
    }
    .item-ios.item-block .item-inner {
        border-bottom: 0px !important;
    }
    .hr {
        border-bottom: 3px solid #54af7c;
        margin: 10px 0;
        width: 100%;
    }
}