<ion-header>
    <ion-navbar color="secondary" no-border-bottom>
        <ion-title text-center>
            Mis Clases
        </ion-title>
        <ion-buttons>
            <button ion-button icon-only (click)="mostrarMenu()">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar no-border-top>
        <ion-segment color="secondary" [(ngModel)]="estado">
            <ion-segment-button value="pendientes">
                En curso
            </ion-segment-button>
            <ion-segment-button value="finalizadas">
                Finalizadas
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="ios" refreshingText="Actualizando lista...">
        </ion-refresher-content>
    </ion-refresher>

    <div [ngSwitch]="estado">
        <ion-list *ngSwitchCase="'pendientes'">
            <ion-item-sliding *ngFor="let clase of clases | async">
                <ion-item *ngIf="!compararFecha(clase)">
                    <ion-item class="item-borderless">
                        <ion-avatar item-start (click)="verDetalleProfesor(clase.idProfesor)">
                            <img [src]="clase.imgProfesor">
                        </ion-avatar>
                        <h1>
                            {{clase.nombreProfesor}} {{clase.apellidosProfesor}}
                        </h1>
                    </ion-item>
                    <h1 class="fondo-fecha">{{clase.fecha}}<span style="float: right;">{{clase.hora}}</span> </h1>
                    <h1 class="lugar">{{clase.lugar}}</h1>
                    <button block ion-button color="secondary" outline large (click)="cancelarClase(clase)" icon-left>
                            <ion-icon name="trash-outline"></ion-icon>
                        Borrar la clase
                    </button>
                    <button block ion-button color="secondary" outline large (click)="contactar(clase)" icon-left>
                            <ion-icon name="at-outline"></ion-icon>
                        Contactar con profesor/a
                    </button>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="danger" (click)="cancelarClase(clase)">
                        <ion-icon style="font-size: 30px;" name="trash-outline"></ion-icon>
                        Borrar clase
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>

        <ion-list *ngSwitchCase="'finalizadas'">
            <ion-item-sliding *ngFor="let clase of clases | async">
                <ion-item *ngIf="compararFecha(clase)">
                    <ion-item class="item-borderless">
                        <ion-avatar item-start (click)="verDetalleProfesor(clase.idProfesor)">
                            <img [src]="clase.imgProfesor">
                        </ion-avatar>
                        <h1>
                            {{clase.nombreProfesor}} {{clase.apellidosProfesor}}
                        </h1>
                    </ion-item>
                    <h1 class="fondo-fecha">{{clase.fecha}}<span style="float: right;">{{clase.hora}}</span> </h1>
                    <h1 class="lugar">{{clase.lugar}}</h1>
                    <button block ion-button color="secondary" outline large (click)="cancelarClase(clase)" icon-left>
                            <ion-icon name="trash-outline"></ion-icon>
                            Borrar la clase
                    </button>
                    <ion-item>
                        <ion-textarea [(ngModel)]="clase.notas" color="secondary" rows="5" placeholder="Notas"></ion-textarea>
                    </ion-item>
                    <div text-center>
                        <button (click)="guardarNotas(clase)" ion-button clear large color="secondary" icon-left>
                            <ion-icon name="create"></ion-icon>
                            Guardar notas 
                        </button>
                    </div>
                </ion-item>

                <ion-item-options side="right">
                    <button ion-button color="danger" (click)="cancelarClase(clase)">
                        <ion-icon style="font-size: 30px;" name="trash-outline"></ion-icon>
                        Borrar clase
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>

    </div>

</ion-content>