<ion-header>

    <ion-navbar color="secondary">
        <ion-title>Organizar una clase</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-list-header>
            Elige una hora
        </ion-list-header>
        <ion-item-group *ngFor="let horario of horarios | async">
            <ion-item-divider color="light"> {{ horario.fecha }}</ion-item-divider>
            <button detail-none ion-item *ngFor="let hora of horario | async">
                {{ hora | json }}
            </button>
        </ion-item-group>

    </ion-list>
</ion-content>